.clients-info-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 731px;
  background-color: #fff;

  @media screen and (max-width: 1200px) {
    height: 250px;
  }

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.clients-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 257px;
  height: 67px;
  margin: 87px auto 0;

  &__heading {
    width: 257px;
    height: 26px;
    margin: 0;
    padding: 0;
    font-family: Yeseva One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.11rem;
    line-height: 1.56rem;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
  }

  &__logo {
    width: 114px;
    height: 29px;
    margin: 0 auto;
    background: url("../assets/images/clients-logo.svg");
  }
}

.clients-info-section__paragraph {
  width: 476px;
  height: 57px;
  margin: 21px auto 0;
  padding: 0;
  font-family: FuturaBookC, sans-serif;
  font-size: 1.11rem;
  line-height: 1.5rem;
  text-align: center;
  color: #363636;

  @media screen and (max-width: 800px) {
    width: 300px;
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}

.clients-info-section__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 85.83%;
  height: 455px;
  margin: 44px auto 0;
  padding: 0;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.clients-cards__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30.42%;
  height: 428px;
  padding: 0;
  background: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.client-info {
  display: flex;
  width: 73.76%;
  height: 76px;
  margin: 24px 0 0 5.59%;

  &__span {
    display: block;
    width: 178px;
    height: 42px;
    margin-left: 23px;
    align-self: center;
    font-family: Yeseva One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.28rem;
    color: #181818;
  }

  &__img {
    border-radius: 50%;
  }

  &__paragraph {
    padding: 0;
    margin: 15px 0 0 5.59%;
    width: 86.17%;
    height: 221px;
    font-family: FuturaBookC, sans-serif;
    font-size: 0.83rem;
    line-height: 1.5rem;
    color: #959595;
  }
}

.description-block {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 401px;
  left: 0;
  width: 78.19%;
  height: 54px;
  background: $second-base-color;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.description-block__value-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 46.26%;
  height: 54px;
  border-right: 1px solid #efefef;

  .description-block__logo--first {
    width: 33px;
    height: 33px;
    background: url("../assets/images/first-logo-descr.svg");
  }

  .description-block__span {
    font-family: Yeseva One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.94rem;
    line-height: 1.33rem;
    color: #fff;
    }
}

.description-block__value-second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50.21%;
  height: 54px;

  .description-block__logo--second {
    width: 34px;
    height: 34px;
    background: url("../assets/images/second-logo-descr.svg");
  }

  .description-block__span {
    font-family: Yeseva One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.94rem;
    line-height: 1.33rem;
    color: #fff;
    }
}