.video-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 1103px;
  background: linear-gradient(to bottom, $base-color 0%, $base-color 29.47%, #fff 29.47%, #fff 100%);

  @media screen and (max-width: 375px) {
    height: 828px;
    background: linear-gradient(to bottom, $base-color 0%, $base-color 97%, #fff 97%, #fff 100%);;
  }

    &__iframe {
      width: 56.74%;
      margin: 30px auto;
      border: 0;

      @media screen and (max-width: 800px) {
        width: 370px;
        height: 370px;
      }

      @media screen and (max-width: 375px) {
        width: 340px;
        height: 207px;
        margin: 42px auto 0;
      }
    }

    &__dash {
      width: 55px;
      height: 2px;
      background-color: $second-base-color;
      margin: 33px auto 0;

      @media screen and (max-width: 375px) {
        margin: 27px auto 0;
      }
    }

    &__paragraph {
      display: block;
      width: 47.29%;
      height: 131px;
      margin: 0 auto;
      margin-top: 26px;
      font-family: FuturaBookC, sans-serif;
      font-size: 1.11rem;
      line-height: 1.89rem;
      text-align: center;

      @media screen and (max-width: 1020px) {
        width: 340px;
        height: 133px;
        margin: 80px auto 0;
        font-size: 0.83rem;
        line-height: 1.1rem;
      }

      @media screen and (max-width: 375px) {
        width: 340px;
        height: 133px;
        margin: 18px auto 0;
        font-size: 0.78rem;
        line-height: 1.33rem;
        color: #fff;
      }
    }
  }

.heading-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 196px;
  height: 67px;
  margin: 0 auto;

  @media screen and (max-width: 375px) {
    width: 224px;
    height: 74px;
    margin: -24px auto 0; 
  }

  &__heading {
    display: block;
    width: 196px;
    height: 26px;
    padding: 0;
    margin: 0;
    font-family: Yeseva One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.11rem;
    line-height: 1.56rem;
    text-align: center;
    text-transform: uppercase;
    color: white;

    @media screen and (max-width: 375px) {
      width: 224px;
      height: 26px;
      margin: 0 auto;
      font-size: 1.22rem;
      line-height: 1.67rem;
    }
  }

  &__logo {
    width: 114px;
    height: 28px;
    background: url("../assets/images/logo-camera.svg");
    align-self: center;
  }
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 53.40%;
  height: 103px;
  margin: 100px 0 0 23.40%;

  @media screen and (max-width: 1020px) {
    width: 340px;
    margin: 140px auto;
  }

  @media screen and (max-width: 375px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 340px;
    height: 315px;
    margin: 35px auto 0;
    padding: 0;
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 31.08%;
    height: 45px;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 375px) {
      width: 340px;
      height: 45px;
    }
  }

  &__field:nth-child(2) {
    @media screen and (max-width: 375px) {
      margin: 63px 0 0 0;
    }
  }

  &__label {
    font-family: FuturaBookC, sans-serif;
    font-size: 0.83rem;
    line-height: 1.11rem;
    color: rgba(54, 54, 54, 0.5);

    @media screen and (max-width: 1020px) {
      font-size: 0.7rem;
      line-height: 0.9rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 0.83rem;
      line-height: 1.11rem;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .label-hidden {
    @media screen and (max-width: 375px) {
      display: none;
    }
  }

  .label-mobile {
    display: none;

    @media screen and (max-width: 375px) {
      display: unset;
    }
  }

  &__input {
    background: transparent;
    border: 0;
    font-family: FuturaBookC, sans-serif;
    font-size: 1rem;
    line-height: 1.33rem;
    color: #363636;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);

    @media screen and (max-width: 1020px) {
      font-size: 0.7rem;
      line-height: 0.9rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 1rem;
      line-height: 1.33rem;
      color: #fff;
      padding: 0px 0 5px 0px;
      border-bottom: 1px solid #fff;
    }

    &:focus {
      outline: none;
    }
  }

  &__input-submit {
    background: transparent;
    border: 0;
    width: 26%;
    height: 51px;
    background-color: $second-base-color;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    font-family: FuturaDemiC, sans-serif;
    font-size: 0.83rem;
    line-height: 1.44rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media screen and (max-width: 1020px) {
      width: 60px;
      height: 41px;
    }

    @media screen and (max-width: 375px) {
      width: 340px;
      height: 51px;
      margin: 62px 0 0 0;
      order: 4;
      box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
      border-radius: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
 
.checkbox-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 286px;
  height: 18px;
  margin: 33px 0 0 30.95%;
  padding: 0;
  font-family: FuturaBookC, sans-serif;
  font-size: 0.89rem;
  line-height: 1.22rem;
  color: #181818;

  @media screen and (max-width: 1020px) {
    justify-content: space-around;
    font-size: 0.7rem;
    line-height: 1.1rem;
    margin: 0 auto;
  }

  @media screen and (max-width: 375px) {
    justify-content: space-between;
    margin: 30px 0 0 0;
    font-size: 0.89rem;
    line-height: 1.22rem;
    order: 3;
    color: #fff;
  }

  &__checkbox, &__label {
    align-self: center;
  }

  &__checkbox {
    background: transparent;
    border: 0;
    width: 18px;
    height: 18px;
    background-color: $second-base-color;
    border-radius: 50%;
  }
}